#maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

#eclipse
.classpath
.project
.settings/

#Intellij
.idea/

# Additional files
*.jar
*.war
*.ear
*.class
*.log
*.zip
*.rar
*tar.gz
*.db
